.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

.searchForm {
  width: 100%;
  background-color: black;
  overflow: hidden;
  position: fixed;
  min-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 10%;
  border: none;
  padding: 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchBar:focus {
  width: 50%;
}

.searchButton {
  background: blueviolet;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 55px;
}

.loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loadButton {
  background: blueviolet;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .searchBar {
    width: 50%;
  }
}
